body, html {
    min-height: 200px;
    max-height: 400px;
    width: 400px;
}
.panel-body{
  padding:0px;
}
.list-group{
  margin-top:4px;
  margin-bottom: 0px;
}
.form-group {
  margin-bottom: 0px;
}.navbar-default.navbar {
  background-color: #03a9f4;
}
.reply_text{
  color:#CACECF;
}